.search input {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 10px;
    color: var(--text);
}

.search input:focus{
    border: 1px solid var(--text);
}

.search button {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: var(--bg);
    color: var(--text);
    cursor: pointer;
    font-size: 18px;
}

.search button:hover{
    background: var(--bghover);
}

.weather {
    display : flex;
    flex-direction: column;
    gap : 10px;
    color: var(--text);
    margin-top: 20px;
    background:var(--bg);
    border-radius: 20px;
    padding: 20px;
}

.error {
    color: var(--text);
    margin-top: 20px;
    background: var(--bg);
    border-radius: 20px;
    padding: 20px;
}