.game {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.square {
    width: 100px;
    height: 100px;
    font-size: 40px;
    background: linear-gradient(#d6a1f680, #ce51ab78);
    border-radius: 20px;
    border: none;
    color: #A80366;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.square:hover {
    background:linear-gradient(#d5a1f6e5, #ce51ab78);
}

.button-reset {
    width: 70px;
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: linear-gradient(#d6a1f680, #ce51ab78);
    color: #A80366;
    cursor: pointer;
    font-size: 18px;
}

.button-reset:hover{
    background:linear-gradient(#d5a1f6e5, #ce51ab78);
}

.game p {
    color: #A80366;
}

.game h2 {
    color: #A80366;
    margin-bottom: 10px;
    font-size: 15px;
}