.game {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.square {
    width: 100px;
    height: 100px;
    font-size: 40px;
    background: var(--bg);
    border-radius: 20px;
    border: none;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.square:hover {
    background: var(--bghover);
}

.button-reset {
    width: 70px;
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: var(--bg);
    color: var(--text);
    cursor: pointer;
    font-size: 18px;
}

.button-reset:hover{
    background: var(--bghover);
}

.game p {
    color: var(--text);
    
}

.game h2 {
    color: var(--text);
    margin-bottom: 10px;
    font-size: 15px;
}