.input {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 10px;
    color: var(--text);
}

.input:focus {
    border: 1px solid var(--text);
}

.text {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--text);
}

.count {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text);
}