.input {
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 10px;
    color: #A80366;
}

.text {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #A80366;
}

.count {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #A80366;
}