.buttonTabsHTML {
    background: var(--bg);
    border-radius: 20px;
    border: none;
    outline: none;
    color: var(--text);
    cursor: pointer;
    font-size: 18px;
    width: 100px;
    height: 40px;
    margin-left: 25%;
}


.buttonTabsCSS {
    background: var(--bg);
    border-radius: 20px;
    border: none;
    outline: none;
    color: var(--text);
    cursor: pointer;
    font-size: 18px;
    width: 100px;
    height: 40px;
    margin-left: 20px;
}

.tabs-content {
    color: var(--text);
    margin: 40px;

}