.timer {
    font-size: 48px;
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: var(--text);
    background: var(--bg);
    border-radius: 20px;
    padding: 20px;
}

.box button {
    width: 100px;
    height: 40px;
    margin-left: 25px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: var(--bg);
    color: var(--text); 
    cursor: pointer;
    font-size: 18px;
}

.box button:hover{
    background:var(--bghover);
}