.calculator {
    text-align: center;
}

.calculator input {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 10px;
    color: var(--text);
    margin-bottom: 10px;
}

.calculator input:focus {
    border: 1px solid var(--text);
}

.numbers {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.num {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: var(--bg);
    color: var(--text);
    cursor: pointer;
    font-size: 18px;
}

.num:hover {
    background: var(--bghover);
}

.num-clear {
    width: 100px;
    height: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: var(--bg);
    color: var(--text);
    cursor: pointer;
    font-size: 15px;
}

.num-clear:hover {
    background: var(--bghover);
}