.basket {
    background: var(--bg);
    width: 300px;
    padding: 20px;
    border-radius: 20px;
}

.product-basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.product-basket button {
    width: 50px;
    height: 20px;
    border: none;
    outline: none;
    background: var(--bg);
    color: var(--text);
    cursor: pointer;
    font-size: 10px;
    

}

.product-basket button:hover{
    background: var(--bghover);
}

.basket p {
    color: var(--text);
}