.basket {
    background: linear-gradient(#d6a1f680, #ce51ab78);
    width: 300px;
    padding: 20px;
    border-radius: 20px;
}

.product-basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.product-basket button {
    width: 50px;
    height: 20px;
    border: none;
    outline: none;
    background: linear-gradient(#d6a1f680, #ce51ab78);
    color: #A80366;
    cursor: pointer;
    font-size: 10px;
    

}

.product-basket button:hover{
    background:linear-gradient(#d5a1f6e5, #ce51ab78);
}

.basket p {
    color: #A80366;
}