.todo-input input {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 10px;
    color: var(--text);
}

.todo-input input:focus {
    border: 1px solid var(--text);
}

.todo-input button {
    width: 100px;
    height: 35px;
    margin-left: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: var(--bg);  
    color: var(--text);
    cursor: pointer;
    font-size: 18px;
}

.todo-input button:hover{
    background: var(--bghover);
}


.todo-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    
}

.todo-list li button {
    margin-bottom: 8px;
    width: 20px;
    height: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: var(--bg);
    color: var(--text);
    cursor: pointer;
    font-size: 10px;
}

.todo-list li button:hover{
    background: var(--bghover);
}