.buttonBurger {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: var(--bg);
    color: var(--text);
    cursor: pointer;
    font-size: 18px;
    margin: 0 30px;
}

.buttonBurger:hover{
    background: var(--bghover);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: left;
    background: var(--bg);
    border-radius: 20px;
    margin: 20px 0;
    padding: 20px;
}

.menu a {
    color: var(--text);
    text-decoration: none;
    margin-bottom: 10px;
}
