.title {
    margin-bottom: 50px;
    color: #A80366;
}

.text {
    margin-top: 50px;
    color: #A80366;
    
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    color: #A80366;

}

input[type="checkbox"] {
    margin-right: 10px;
}