.title {
    margin-bottom: 50px;
    color: var(--text);
}

.text {
    margin-top: 50px;
    color: var(--text);
    
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    color: var(--text);

}

input[type="checkbox"] {
    margin-right: 10px;
}