.sectionSidebar {
    position: relative;
    width: 510px;
    margin: 0 auto;
    height: 400px;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
    background: var(--bg);
}

.sidebar {
    position: absolute;
    top: 60px;
    left: -220px;
    width: 200px;
    height: calc(100% - 60px);
    transition: left 0.3s ease;

}

.sidebar.open {
    left: 20px;
}

.buttonSidebar {
    background: var(--bg);
    border-radius: 10px;
    border: none;
    color: var(--text);
    cursor: pointer;
    font-size: 18px;
    width: 100px;
    height: 40px;
}

.buttonSidebar:hover {
    background: var(--bghover);
}

.sidebar nav a {
    display: block;
    padding: 10px;
    color: var(--text);
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.sidebar nav a:hover {
    background-color: var(--text);
    color: #fff;
}