.footer {
    width: 100%;
    height: 60px;
    background: var(--footer);
    margin-top: 20px;
}

.footer p {
    text-align: center;
    padding-top: 40px;
    color: var(--text);  
    font-size: 10px;

}

