.buttonModal {
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: var(--bg);
    color: var(--text);
    cursor: pointer;
    font-size: 18px;
}

.buttonModal:hover {
    background: var(--bghover);
}

.close-button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: var(--bg);
    color: var(--text);
    cursor: pointer;
    font-size: 18px;
    margin-top: 60px;
}

.close-button:hover {
    background: var(--bghover);
}

.modal-content {
    width: 400px;
    height: 200px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: var(--bg);
    color: var(--text);
    cursor: pointer;
    font-size: 18px;
}