* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.mainTitle {
    color: #A80366;
    width: 250px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(#d6a1f680, #ce51ab78);
    border-radius: 20px;
    margin: 20px 25%;
    margin-top: 60px ;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background:linear-gradient(#d6a1f680, #ce51ab78);
    width: 510px;
    height: 289px;
    border-radius: 20px;
}

