* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mainTitle {
    color: #A80366;
    width: 250px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(#d6a1f680, #ce51ab78);
    border-radius: 20px;
    margin-left: 41%;
    margin-bottom: 20px;
    margin-top: 60px ;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 32%;
    background:linear-gradient(#d6a1f680, #ce51ab78);
    width: 510px;
    height: 289px;
    border-radius: 20px;
}

