.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background: linear-gradient(#d6a1f680, #ce51ab78);
    height: 60px;
    margin-bottom: 20px;
}

.nav-title {
    color: #A80366;
    margin-left: 20px;

}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: #A80366;
}