.buttonModal {
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background:linear-gradient(#d6a1f680, #ce51ab78);
    color: #A80366;
    cursor: pointer;
    font-size: 18px;
}

.close-button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background:linear-gradient(#d6a1f680, #ce51ab78);
    color: #A80366;
    cursor: pointer;
    font-size: 18px;
    margin-top: 60px;
}

.modal-content {
    width: 400px;
    height: 200px;
    border-radius: 20px;
    border: none;
    outline: none;
    background:linear-gradient(#d6a1f680, #ce51ab78);
    color: #A80366;
    cursor: pointer;
    font-size: 18px;
}