.slide {
    display: flex;
    justify-content: center;
    align-items: center;

}

.slide img {
    width: 200px;
    height: 200px;
    
}

.slider button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    outline: none;
    background:var(--bg);
    color: var(--text);
    cursor: pointer;
    font-size: 18px;
    margin: 0 30px;
}

.slider button:hover{
    background: var(--bghover);
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}